* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 40px auto;
}

.login-container {
  display: flex;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.form-container {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-icon {
  width: 80px;
  margin: 0 auto 20px;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 5px;
  font-weight: 600;
  color: #333;
}

form input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.forgot-password {
  color: #003399;
  text-decoration: none;
  font-size: 14px;
  margin-bottom: 20px;
  align-self: flex-end;
}

button {
  padding: 10px 20px;
  background-color: #5865f2;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #4752c4;
}

p {
  text-align: center;
  margin: 20px 0;
  font-weight: 600;
}

.google-login {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  color: #617597;
  .register-link {
    color: #617597; /* Color del texto */
    text-decoration: none;
  }

  .register-link:hover {
    text-decoration: underline;
  }
}

.google-login img {
  width: 20px;
  margin-right: 10px;
}

.image-container {
  display: none;
}

@media (min-width: 768px) {
  .image-container {
    display: block;
  }

  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.register-link {
  color: #617597; /* Color del texto */
  text-decoration: none;
}

.register-link:hover {
  text-decoration: underline;
}
