@import "../styles/colors.css";

.footer {
  background-color: var(--color-background);
  padding: 20px 20px;
  text-align: center;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-bottom: 10px;
}

.links a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
}

.links a:hover {
  text-decoration: underline;
  color: var(--color-primary);
}

.copyright {
  color: var(--color-text);
  font-size: 14px;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
  }

  .links {
    margin-bottom: 0;
  }
}