@import "../styles/colors.css";

.header {
  width: 100%;
  padding: 20px;
  background-color: white;
  position: fixed; /* Fix the header at the top */
  top: 0;
  left: 0;
  z-index: 1000; /* Ensure it stays on top */
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 40px;
  margin-right: 10px;
}

.logoText {
  font-size: 24px;
  color: var(--color-primary);
}

.navLinks {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navLinks li {
  margin-right: 20px;
}

.navLinks a {
  text-decoration: none;
  color: var(--color-text);
  font-weight: 600;
}

.navLinks a.active {
  color: var(--color-primary);
}
