/* Add margin-top to the content to create space below the header */
.content {
  margin-top: 20px;
  margin-bottom: 20px;
  /*margin-top: 100px; /* Adjust this value based on the height of your header */
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--color-secondarybckgrnd);
}
